@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

/* *::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #001B3D;
}

*::-webkit-scrollbar-thumb {
  background-color: #0D4B98;
} */

.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #001B3D;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #0D4B98;
  border-radius: 5px;
}

