@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black
  }
  /* estou utilizando "inline-block" nas imagens para resovler um bug visual da lib "html2canvas" */
  img {
    @apply inline-block;
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

.scrollbar::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #001B3D;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #0D4B98;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #C3D2E5;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #86A5CB;
}

